.projects {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  /* background: linear-gradient(to bottom, #4c102a 0%, #151516 100%); */
  color: white;
  border-radius: 30px;
}

.projects__title {
  color: white;
  padding-top: 50px;
  font-size: 40px;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -.015em;
  text-align: center;
}

.projects__container {
  margin: 20px 20px 20px 20px;
}

.projects__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

.projects__item {
  background: linear-gradient(to right top, #071931 0%, #33274f 50%, #661e43 100%);
  width: 100%;
  max-width: 500px;
  height: 500px;
  border-radius: 30px;
}

.projects__image {
  width: 100%;
  max-width: 300px;
  max-height: 500px;
}

.projects__text {
  color: #8679cb;
  font-size: 20px;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -.015em;
  text-align: center;
}
