.profile {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 30px;
  background: linear-gradient(to right top, #071931 0%, #33274f 50%, #661e43 100%);
  position: relative;
    z-index: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.profile__text {
  padding-top: 50px;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
  color: white;
  font-size: 40px;
  line-height: 1.12;
  font-weight: 700;
  letter-spacing: -.015em;
  text-align: center;
}

.profile__container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
  max-width: 90%;
  margin: 0 auto;
}

.profile__image {
  max-width: 250px;
  max-height: 250px;
  border-radius: 30px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.profile__title {
  color: white;
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 200;
  letter-spacing: -.015em;
  text-align: start;
}
