.contacts {
  width: 100%;

  max-width: 90%;
  margin: 0 auto;
}

.contacts__title {
  font-size: 40px;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -.015em;
  text-align: center;
  color: white;
  margin-top: 50px;
  padding-top: 50px;
}

.contacts__container {
  background-image: url(../../images/icons/cyber.gif);
  border-radius: 30px;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts__image {
  width: 100px;
  height: 100px;
}

.contacts__link {
  margin-left: 50px;
}

.contacts__link:first-child {
  margin-left: 0;
}

@media all and (max-width: 550px) {
  .contacts__image {
    width: 50px;
    height: 50px;
  }

  .contacts__container {
    flex-direction: column;
  }
  .contacts__link {
    margin: 0 auto;
    padding-top: 30px;
  }
  .contacts__link:first-child {
    margin: 0 auto;
  }
}
