.stack {
  width: 100%;
  max-width: 1280px;
  background: linear-gradient(rgba(0,0,0,0), #151b25, #151516),linear-gradient(
90deg
, #172538, #18263a 50%);
  margin: 0 auto;
  border-radius: 30px;
  color: white;
}

.stack__title {
  font-size: 40px;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -.015em;
  text-align: center;
  padding-top: 50px;
}

.stack__container {
}
.stack__list {
  list-style: none;
}

.stack__item {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.stack__image {
  margin-right: 200px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background-color: white;
}

.stack__text {
  width: 100%;
  max-width: 800px;
  color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
