.navtab {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: 36px;
  grid-column-gap: 10px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navtab__item {
  /* border: solid  1px white; */
  border-radius: 10px;
  text-align: center;
}

.navtab__link {
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.05;
  font-weight: 200;
  letter-spacing: -0.015em;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.navtab__link:hover {
  color: #06c;
  cursor: pointer;
  transition: opacity .2s ease;
}

@media all and (max-width: 600px) {
  .navtab {
    grid-template-columns: repeat(4, 55px);
    grid-template-rows: 26px;
    grid-column-gap: 6px;
  }

  .navtab__link {
    font-size: 10px;
  }
}
